#loading-circle{
          display: flex;
          border:3px black solid;
          border-radius:50%;
          width: 150px;
          height: 150px;
          text-align: center;
          justify-content: center;
          align-items:center ;
          animation: blink 3s infinite linear;
      }

      #loading-circle div{
          padding: 0;
          margin: 0;
          font-size: 24px;
          font-weight: 900;
      }

      #circle-wraper{
          display:inline-block;
          position: absolute;
          left:50%;
          top: 50%;
          transform: translate(-50%,-50%);
      }

      .loading-bg{
          height: 100vh;
          width: 100vw;
          background-color: rgba(248, 248, 248, 0.2);
          z-index: 1000;
          position:absolute;
          top:0;
          left:0;
      }

      @keyframes blink {
          0%{
              color:white;
              border-color: white;
          }

          50%{
              color:black;
              border-color: black;
          }

          100%{
              color:white;
              border-color: white;
          }               
      }